<article class="grid grid--cols-2 block__feature">
  <div class="block__feature__content">
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use href="css/images/icon-sprite-sheet.svg#easy"></use>
      </svg>
    </span>
    <h3 class="block__feature__heading">Simplify Your Work Process</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti,
      aspernatur?
    </p>
    <a href="/" class="link--arrow">how it works</a>
  </div>
  <picture>
    <source
      type="image/webp"
      srcset="
        /css/images/easy/new/webp/easy@1x.webp 1x,
        /css/images/easy/new/webp/easy@2x.webp 2x
      "
    />
    <source
      type="image/png"
      srcset="
        /css/images/easy/new/png/easy@1x.jpg 1x,
        /css/images/easy/new/png/easy@2x.jpg 2x
      "
    />
    <img class="block__feature__image" src="/css/images/easy/easy.jpg" alt="" />
  </picture>
</article>

<article class="grid grid--cols-2 feature">
  <div class="block__feature__content">
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use href="css/images/icon-sprite-sheet.svg#easy"></use>
      </svg>
    </span>
    <h3 class="block__feature__heading">Simplify Your Work Process</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti,
      aspernatur?
    </p>
    <a href="/" class="link--arrow">how it works</a>
  </div>
  <picture>
    <source
      type="image/webp"
      srcset="
        /css/images/easy/new/webp/easy@1x.webp 1x,
        /css/images/easy/new/webp/easy@2x.webp 2x
      "
    />
    <source
      type="image/png"
      srcset="
        /css/images/easy/new/png/easy@1x.jpg 1x,
        /css/images/easy/new/png/easy@2x.jpg 2x
      "
    />
    <img class="block__feature__image" src="/css/images/easy/easy.jpg" alt="" />
  </picture>
</article>

<article class="grid grid--cols-2 feature">
  <div class="block__feature__content">
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use href="css/images/icon-sprite-sheet.svg#easy"></use>
      </svg>
    </span>
    <h3 class="block__feature__heading">Simplify Your Work Process</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti,
      aspernatur?
    </p>
    <a href="/" class="link--arrow">how it works</a>
  </div>
  <picture>
    <source
      type="image/webp"
      srcset="
        /css/images/easy/new/webp/easy@1x.webp 1x,
        /css/images/easy/new/webp/easy@2x.webp 2x
      "
    />
    <source
      type="image/png"
      srcset="
        /css/images/easy/new/png/easy@1x.jpg 1x,
        /css/images/easy/new/png/easy@2x.jpg 2x
      "
    />
    <img class="block__feature__image" src="/css/images/easy/easy.jpg" alt="" />
  </picture>
</article>
