<footer class="site-block site-block--dark block__footer">
  <div class="container grid block__footer__grid">
    <section class="collapsible collapsible--expanded block__footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading block__footer__heading">Products</h2>
        <img
          class="icon collapsible__chevron"
          src="/css/images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="block__footer__list-item"><a href="">Item1</a></li>
          <li class="block__footer__list-item"><a href="">Item2</a></li>
          <li class="block__footer__list-item"><a href="">Item3</a></li>
          <li class="block__footer__list-item"><a href="">Item4</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible collapsible--expanded block__footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading block__footer__heading">Company</h2>
        <img
          class="icon collapsible__chevron"
          src="/css/images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="block__footer__list-item"><a href="">Item1</a></li>
          <li class="block__footer__list-item"><a href="">Item2</a></li>
          <li class="block__footer__list-item"><a href="">Item3</a></li>
          <li class="block__footer__list-item"><a href="">Item4</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible collapsible--expanded block__footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading block__footer__heading">Support</h2>
        <img
          class="icon collapsible__chevron"
          src="/css/images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="block__footer__list-item"><a href="">Item1</a></li>
          <li class="block__footer__list-item"><a href="">Item2</a></li>
          <li class="block__footer__list-item"><a href="">Item3</a></li>
          <li class="block__footer__list-item"><a href="">Item4</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible collapsible--expanded block__footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading block__footer__heading">Domain</h2>
        <img
          class="icon collapsible__chevron"
          src="/css/images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="block__footer__list-item"><a href="">Item1</a></li>
          <li class="block__footer__list-item"><a href="">Item2</a></li>
          <li class="block__footer__list-item"><a href="">Item3</a></li>
          <li class="block__footer__list-item"><a href="">Item4</a></li>
        </ul>
      </div>
    </section>
    <section class="block__footer__branding">
      <img src="/css/images/logo.svg" alt="" />
      <p>Mosh&nbsp;Hamedani<br />ⓒ2020</p>
    </section>
  </div>
</footer>
