<nav class="nav collapsible">
  <a href="/"><img class="nav__brand" src="/css/images/logo.svg" alt="" /></a>
  <svg class="icon icon--white collapsible__chevron nav__toggler">
    <use href="css/images/icon-sprite-sheet.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__list-item"><a href="">Hosting</a></li>
    <li class="nav__list-item"><a href="">VPS</a></li>
    <li class="nav__list-item"><a href="">Domain</a></li>
    <li class="nav__list-item"><a href="">Pricing</a></li>
  </ul>
</nav>
