<body>
  <section class="site-block container">
    <header class="site-block__header">
      <h2 class="site-block__heading">Heading2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, iure?
      </p>
    </header>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--primary">
        <header class="card__header">
          <p>Lorem ipsum dolor sit amet.</p>
        </header>
        <div class="card__body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            totam quod ab quasi similique quas.
          </p>
        </div>
        <!--card__body-->
      </div>
      <!--card__header-->
    </div>
    <!--temp-container-->
  </section>

  <section class="site-block site-block--dark">
    <header class="site-block__header">
      <h2 class="site-block__heading">Heading2</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste,
        officiis.
      </p>
    </header>
  </section>

  <section class="site-block site-block--dark site-block--skew-left">
    <header class="site-block__header">
      <h2 class="site-block__heading">Heading2</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, rem!</p>
    </header>
  </section>

  <section class="site-block site-block--dark site-block--skew-right">
    <header class="site-block__header">
      <h2 class="site-block__heading">Heading2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, fugit.
      </p>
    </header>
  </section>
</body>
